<div class='text-center'>
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{! make this add comment }}
  <p>
    <button class='btn btn-primary'>Leave a comment</button>
  </p>
</div>

{{#each post.comments as |comment|}}
  <div>{{comment.message}}</div>
{{/each}}

{{! add form to create new comments here, remove comments from homepage }}

<script src='../js/post.js'></script>