<div class='text-center'>
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <h3>Comments:</h3>
  {{#each comments as |comment|}}
    <p>{{comment.message}}
      <span class='text-info'>
        Submitted by
        {{comment.user.name}}
        on
        {{format_date comment.date_created}}</span></p>
  {{/each}}
  <p>
    <button class='btn btn-primary'>Leave a comment</button>
  </p>
</div>

{{! add form to create new comments here, remove comments from homepage }}

<script src='../js/post.js'></script>